doctype html
html(lang="en")
    
    //- Includes
    block includes
        include ../components/head/head
        include ../components/header/header

    head
        +head(head.defaults)

    body
        block header
            +header(header.defaults)
            
        block page
        //- Scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js")
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
        script(src='%=static=%js/main%=hash=%%=min=%.js') 
        
