doctype html
html(lang="en")
    
    //- Includes
    block includes
        include ../components/head/head
        include ../components/header/header
        include ../components/footer/footer

    head
        +head(head.defaults)

    body
        .page__wrapper
            block header
                +header(header.defaults)
            
            block page
                
            block footer
                +footer()
        //- Scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js")
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
        script(src='%=static=%js/main%=hash=%%=min=%.js') 
        
