mixin footer(data)
    footer.footer
        p.footer__text © 2015 Зерно. Всі права захищені.
        ul.footer__menu
            li.footer__menu_item 
                a.footer__menu_text(href="#") Про проект
            li.footer__menu_item 
                a.footer__menu_text(href="#") Правила використання
            li.footer__menu_item 
                a.footer__menu_text(href="#") Контакти
