

.header {
    width: 1080px;
    margin: 0 auto;
    height: 118px;
    background: #fff;
    padding: 0 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 8px #cccccc;
    &__logo {
        padding-top: 20px;
        padding-left: 40px;
        float: left;
    }
    &__logoLink {
        @include bg-svg($logo);
        display: block;
        max-width: 140px;
        max-height: 75px;
    }
    &__right {
        padding-left: 250px;
    }
    &__reg {
        height: 35px;
        padding: 5px 0;
        text-align: right;
        border-bottom: 1px solid #cccccc;
    }
    &__regbtn {
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        padding-right: 20px;
        color: #000;
        &:hover {
            color: $green;
        }
        &:focus {
            color: $green;
        }
    }
    &__langbtn {
        font-size: 13px;
        line-height: 20px;
        font-weight: 200;
        padding-right: 20px;
        color: #000;
        &:hover {
            color: #ccc;
        }
        &:focus {
            color: #ccc;
        }
    }
    &__search {
        @include cf();
        height: 35px;
    }
}

.nav {
    text-align: left;
    padding-left: 0;
    margin: 0;
    &__item{
        display: inline-block;
        padding: 10px;
    }
    &__img {
        @include bg-svg($home);
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: middle;
    }
    &__text {
        color: #000;
        text-transform: uppercase;
        font-size: 13px;
        &:hover{
            color: $green;
        }
        &:focus{
            color: $green;
        }
    }
}


.search {
    position: relative;
    width: 150px;
    float: right;
    margin-right: 40px;
    &__input {
        @extend %input;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        padding: 0 0 0 10px;
        padding-right: 2em;
        border-bottom: 1px solid #cac9c8;
        border-radius: 4px;
        color: #000;
        outline: none;
        &::-webkit-input-placeholder {
          color: #000;
        }
    }
    &__icon {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 52px;
        right: -40px;
        margin-top: -2.5vw;
        background-color: transparent;
        color: transparent;
        border: none;
        background-image: url("%=static=%assets/header/btn-search.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

}
